<!-- Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Flash message -->
<%- messages() %>

<!-- Display registration errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Display logout form -->
<div>
<form action="/account/logout" method="post">
<div>Are you sure you would like to logout?</div>
<input type="submit" value="Logout">
</form>
</div>