<h1 class="welcome-title">Welcome to CSE Motors!</h1>

<%- messages() %>

<div class="vehicle-info">
    <div class="car-details">
        <p>DMC Delorean</p>
        <p>3 Cup Holders<br>
            Superman doors<br>
            Fuzzy dices<br>
        </p>
        <img class="today" src="/images/site/own_today.png" alt="Own Today Icon">
    </div>
    <img class="vehicle" src="/images/vehicles/delorean.jpg" alt="hero">
</div>

<div class="grid-container"> 
    <section class="vehicle-reviews"> 
        <h2>DMC Delorean Reviews</h2>

        <ul class="reviews">
            <li>• "So fast it's almost like traveling in time." (4/5)</li>
            <li>• "Coolest ride on the road." (4/5)</li>
            <li>• "I'm feeling McFly!" (5/5)</li>
            <li>• "The most futuristic ride of our day." (4.5/5)</li>
            <li>• "80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section class="vehicle-upgrades">
        <h3 class="upgrade-title">Delorean Upgrades</h3>

        <div class="flux">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <a href="/" title="Go to flux-cap">Flux Capacitor</a>
        </div>
        <div class="flame">
            <img src="/images/upgrades/flame.jpg" alt="Flame">
            <a href="/" title="Go to flame">Flame Decals</a>
        </div>
        <div class="bumper">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <a href="/" title="Go to Bumper Stickers">Bumper Stickers</a>
        </div>
        <div class="hub">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <a href="/" title="Go to Hub Caps">Hub Caps</a>
        </div>

    </section>

</div>   