<div id="delorean-container">
    <img src="/images/vehicles/delorean.jpg" alt="Delorean">
    <div id="DMC">
        <h2>DMC Delorean</h2>
        <p>Three Cup Holders</p>
        <p>Superman Doors</p>
        <p>Fuzzy Dice</p>
        <button type="button">Own Today</button>
    </div>
</div>

<div id="reviews-upgrades-container">
    <div id="reviews">
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li>"so fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80s livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div id="upgrades">
        <h1>Delorean Upgrades</h1>
        <ul>
            <li><img src="/images/upgrades/flux-cap.png" alt="Delorean">Flux Capacitor</li>
            <li><img src="/images/upgrades/flame.jpg" alt="Delorean">Flame Decals</li>
            <li><img src="/images/upgrades/bumper_sticker.jpg" alt="Delorean">Bumper Stickers</li>
            <li><img src="/images/upgrades/hub-cap.jpg" alt="Delorean">Hub Caps</li>
        </ul>
    </div>
</div>