<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main class="vehicle-detail-container">
    <%- detailHtml %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>